<div class="form-group padding-bottom-5">
<%= simple_form_for @recipe do |f| %>
    <div class="panel-body">
    <%= f.input :title, label_html: {class: "label"}, input_html: { class: 'form-control' } %>
    <%= f.input :description, label_html: {class: "label"}, input_html: { class: 'form-control' } %>
    <%= f.input :image, label_html: {class: "label"}, input_html: { class: 'form-control' } %>
    </div>

    <div class="">

    <p class="label">Ingredients</p>
    <div id="ingredients">
    <%= f.simple_fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', f: ingredient %>
    <% end %>
    <div class="links">
    <%= link_to_add_association 'Add Ingredient', f, :ingredients%>
    </div>
    </div>

    <p class="label">Instructions</p>
    <div class="instructions">
    <%= f.simple_fields_for :instructions do |instruction| %>
        <%= render 'instruction_fields', f: instruction %>
    <% end %>
    <div class="links">
    <%= link_to_add_association 'Add Instruction', f, :instructions%>
    </div>
    </div>
    
    </div>

    <div class="field">
    <p class="label">Category</p>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, class: "form-control margin-bottom-2" %>
    </div>

    <div class="d-flex margin-top-5">
        <%= f.button :submit, class: "btn btn-success sub-btn" %>
        <%= link_to 'Cancel', user_path(current_user), class: "btn btn-danger cancel" %>
    </div>
<% end %>
</div>