<h1>Add A new Recipe</h1>

<%= form_for(@recipe) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %> <br>

    <%= f.label :description %>
    <%= f.text_field :description %> <br>

    <%= f.label :ingredients %>
    <%= f.text_field :ingredients %> <br>

    <%= f.label :instructions %>
    <%= f.text_field :instructions %> <br>

    #categories
    # <%= f.label :instructions %>
    # <%= f.text_field :instructions %> <br>

    <%= f.submit "Add Recipe" %>
<% end %>