<% if !!flash[:message] %>
  		<h4><%= flash[:message] %></h4>
<% end %>

<h1 class="is-center"><%= @recipe.title %></h1>

<div class="d-flex flex-dir-col margin-top-5">
<div class="d-flex space-evenly">
    <div>
        <b>Description</b>: <%= @recipe.description %>
        <p>Posted by: <%= link_to "#{@recipe.user.name}", user_path(@recipe.user_id) %></p>
        <p>Category: <%= link_to @recipe.category.name, @recipe.category %> </p>
    </div>
    <div>
        <img src=<%= @recipe.image.url(:medium) %> class="border">
    </div>
</div>  

<div class="d-flex space-evenly margin-top-5">
<div>
<h3>Ingredients:</h3>
<% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
<% end %>
</div>
<div>
<h3>Instructions:</h3>
<% @recipe.instructions.each do |instruction| %>
    <li><%= instruction.step %></li>
<% end %>
</div>
</div>

</div>

<div class="margin-top-5 is-center">
<% if current_user == @recipe.user %>
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), class: "btn btn-primary" %>
    <%= link_to 'Delete Recipe', recipe_path(@recipe), method: 'delete', data: { confirm: "Are you sure you want to delete your Recipe? (This cannot be undone!)"}, class: "btn btn-danger" %>
<% end %>
</div>