<h1>Show</h1>

<% if !!flash[:message] %>
  		<h4><%= flash[:message] %></h4>
<% end %>

<h1><%= @recipe.title %></h1>
<h2>Posted by: <%= link_to "#{@recipe.user.name}", user_recipes_path(@recipe.user) %></h2>
<img src=<%= @recipe.image.url(:medium) %> /><br>

<h3>Description</h3>
<%= @recipe.description %>

<h3>Ingredients:</h3>
<% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
<% end %>

<h3>Instructions:</h3>
<% @recipe.instructions.each do |instruction| %>
    <li><%= instruction.step %></li>
<% end %>

<p>Category</p>
<%= link_to @recipe.category.name, @recipe.category %>


<%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %>
<%= link_to 'Delete Recipe', recipe_path(@recipe), method: 'delete', data: { confirm: "Are you sure you want to delete your Recipe? (This cannot be undone!)"} %>