<% if !!flash[:message] %>
  		<h4><%= flash[:message] %></h4>
<% end %>

<div class="is-center">

<% if current_user == @user %>
    <div class="padding-2">
        <h1 class="inline"> Welcome <%= current_user.name %>! </h1>
        <a href="<%= edit_user_registration_path %>">
            <%= image_tag("/images/edit-icon.svg", alt: "Edit Icon", style: "width: 2%;", class: "hover margin-top-2-up") %>
        </a>
    </div>
        <%= link_to 'Add a Recipe', new_recipe_path(@recipe), class: "btn btn-outline-primary margin-bottom-2" %><br>
        <%= link_to "View My Recipes", user_recipes_path(@user) %>
<% elsif @user.id == nil %>
    <div class="padding-2">
        This user does not exist! 
    </div>
<% else %>
    <div class="padding-2">
        <h1> <%= @user.name %>'s Profile </h1>
        <%= link_to 'View Recipes Created By This User', user_recipes_path(@user) %>
    </div>
<% end %>

</div>